<%- include("partials/header.ejs") %>
<main>
  <section class="header-content">
    <h1 class="poppins-bold">Welcome</h1>
    <br />
    <p class="roboto-regular">
    Welcome to Our Blog!Discover a world of ideas, stories, and inspiration. Our blog is a space where you can freely express yourself, share your thoughts, and explore content from people around the world. Whether you're passionate about technology, lifestyle, travel, or personal experiences – there's something for everyone here.
    </p>
  </section>
</main>
<%- include("partials/footer.ejs") %>